/****************************
**      AntonVoronezh
****************************/

.header--index {

}

.maincontent--index {
    /* border: 1px solid #cccccc; */
    height: 100%;
}

.aside--index {
    
}

.main--index {
    border: 1px solid #000000;
    padding-right: 40px;
}

.footer--index {}